.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
!kotlin_jet-brains_php-storm_azure-dev-ops.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Fleet ###
.fleet